<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Example App</title>
</head>
<body>

  <ul class='meetings'>
    {{#each meetings}}
      <li>{{this.name}}</li>
    {{/each}}
  </ul>

  <h2>New Meeting</h2>
  {{#if meeting.errors}}
    something went wrong
  {{/if}}
  <form action="/meetings" method="post">
    <label for="meetingName">Name:</label>
    <input type="text" name="meetingName" value="{{meeting.name}}">
    <input type="submit">Create Meeting</input>
  </form>
</body>
</html>
